<%= render "microposts/search_form" %>

<ul>
  <% @microposts.each do |micropost| %>
    <li>
      <%= link_to micropost.title, micropost %>
      <%= micropost.created_at %>
    </li>
  <% end %>
</ul>

<div>
<%= render "microposts/tag_list", tag_list: @tag_list %>
</div>
