<div class="top">
  <div class="inside">
    <h1 class="title">Recipe</h1>
    <p class="catch_copy">毎日の料理を楽しく</p>

    <% if current_user %>
      <%= link_to 'レシピを投稿する', new_user_micropost_path(@user) %>
    <% end %>
  </div>
</div>
